# Train Test Spit

* Initially our modle ill be like a child
* So we need to train the model
* When we have a dataset, then we need to split the dataset into train test
* Why we are spliting is because the model will be train by training set and it if it also used to test then it will be full biased and 100% accurate score
* But in real world when we feed ne data to the model which has only experinace of a traning data then it wont bare and will make wrongs prediction

* Before getting splitting we need to divide into input and output columns

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("D:\Data Science\Datasets\Housing.csv")

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Harsh Narayankar\AppData\Local\Temp\ipykernel_20232\2826654310.py:1: SyntaxWarning: invalid escape sequence '\D'
  data = pd.read_csv("D:\Data Science\Datasets\Housing.csv")

In [3]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

Here price could be the output

In [7]:
input_x = data.iloc[:,1:]
output_y = data['price']

Now we need to slit the data into train and test using **train_test_split**

In [11]:
from sklearn.model_selection import train_test_split

In [24]:
x_train, x_test, y_train , y_test = train_test_split(input_x, output_y, train_size=0.80)

In [14]:
data.shape

(545, 13)

In [25]:
x_train.shape, x_test.shape

((436, 12), (109, 12))

In [26]:
y_train.shape, y_test.shape

((436,), (109,))