# One hot encoding

The process of converting categorical data into numerical data in called encoding. Where One Hot means 0 or 1

Note: we use this when the varity of dat is very less, like = gender.

What happens is, when we have gender the two columsn will be created like males and females.  
where 0 and 1 will be filled

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('D:\Data Science\Datasets\shopping_trends.csv')

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Harsh Narayankar\AppData\Local\Temp\ipykernel_7160\1697414207.py:1: SyntaxWarning: invalid escape sequence '\D'
  df = pd.read_csv('D:\Data Science\Datasets\shopping_trends.csv')

In [5]:
df.head(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

We are encoding gender  
Before that we need to fill missing value

In [6]:
df['Gender'].isnull().sum()

0

In [7]:
# if their are any missung value then
df['Gender'].fillna(df['Gender'].mode([0]), inplace=True)

C:\Users\Harsh Narayankar\AppData\Local\Temp\ipykernel_7160\2889626286.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode([0]), inplace=True)

One Hot Encoding  
Methods 
1) Get dummies
2) sklearn

In [11]:
em_data = df['Gender']
em_data

0         Male
1         Male
2         Male
3         Male
4         Male
         ...
3895    Female
3896    Female
3897    Female
3898    Female
3899    Female
Name: Gender, Length: 3900, dtype: object

We just need to pass that the collumsn to which we need to encode one hot

In [12]:
pd.get_dummies(em_data)

      Female   Male
0      False   True
1      False   True
2      False   True
3      False   True
4      False   True
...      ...    ...
3895    True  False
3896    True  False
3897    True  False
3898    True  False
3899    True  False

[3900 rows x 2 columns]

In [20]:
em_data = pd.get_dummies(em_data)
em_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Female  3900 non-null   bool
 1   Male    3900 non-null   bool
dtypes: bool(2)
memory usage: 7.7 KB

Above we can see the data type is bool so we need to convert that into number to use it into a ML model. So

In [23]:
em_data[em_data.select_dtypes("bool").columns] = em_data[em_data.select_dtypes('bool').columns].astype(int)
em_data

      Female  Male
0          0     1
1          0     1
2          0     1
3          0     1
4          0     1
...      ...   ...
3895       1     0
3896       1     0
3897       1     0
3898       1     0
3899       1     0

[3900 rows x 2 columns]

In [26]:
#OR we can do it to entore DataFrame
em_data = em_data.astype(int)
em_data

      Female  Male
0          0     1
1          0     1
2          0     1
3          0     1
4          0     1
...      ...   ...
3895       1     0
3896       1     0
3897       1     0
3898       1     0
3899       1     0

[3900 rows x 2 columns]

**Using sklearn**  
scikit-learn (imported as sklearn) is one of the most widely used libraries in Python for machine learning. It provides simple and efficient tools for data analysis and modeling.

Here are the main uses of sklearn, broken down clearly:

🔧 1. Preprocessing Data
You can clean, transform, and prepare data before modeling.

StandardScaler, MinMaxScaler – for scaling features

SimpleImputer – for filling missing values

LabelEncoder, OneHotEncoder – for encoding categorical variables

PolynomialFeatures – for generating polynomial features

✅ Example:

python
Copy code
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
🤖 2. Building Machine Learning Models
Sklearn offers many ready-to-use algorithms:

🔹 Supervised Learning
Classification: LogisticRegression, RandomForestClassifier, SVC, KNeighborsClassifier, etc.

Regression: LinearRegression, Ridge, Lasso, DecisionTreeRegressor, etc.

🔹 Unsupervised Learning
Clustering: KMeans, DBSCAN, AgglomerativeClustering

Dimensionality Reduction: PCA, TruncatedSVD

✅ Example:

python  
Copy code  
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
📈 3. Model Evaluation and Metrics
Sklearn provides tools to measure how well your model performs:

accuracy_score, precision_score, recall_score, f1_score

confusion_matrix, classification_report

mean_squared_error, r2_score

✅ Example:

python
Copy code
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
🧪 4. Model Selection
Used to optimize model performance:

train_test_split – split data into training and testing

GridSearchCV, RandomizedSearchCV – hyperparameter tuning

cross_val_score – cross-validation

✅ Example:

python
Copy code
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
📊 5. Pipelines
Combine preprocessing + model in a clean and reusable way.

✅ Example:

python
Copy code
from sklearn.pipeline import Pipeline

pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('model', LogisticRegression())
])

pipe.fit(X_train, y_train)
Summary Table
Task	Tool/Function Example
Preprocessing	StandardScaler, SimpleImputer
Classification	LogisticRegression, RandomForestClassifier
Regression	LinearRegression, Ridge
Clustering	KMeans, DBSCAN
Dimensional Reduction	PCA, TruncatedSVD
Metrics & Evaluation	accuracy_score, confusion_matrix
Model Selection	GridSearchCV, train_test_split
Pipelines	Pipeline

In [54]:
en_sk = df['Gender']
en_sk

0         Male
1         Male
2         Male
3         Male
4         Male
         ...
3895    Female
3896    Female
3897    Female
3898    Female
3899    Female
Name: Gender, Length: 3900, dtype: object

In [45]:
# en_sk = pd.get_dummies(en_sk)
# en_sk

In [47]:
from sklearn.preprocessing import OneHotEncoder

In [51]:
ohe = OneHotEncoder()
ohe.fit_transform(en_sk)
# this will create a spars matrix in which 0 and 1 are filled

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.

Note: we need to pass 2D matrix of DataFrame to sklearn OneHotEncoding  
Therefore

In [55]:
en_sk = pd.DataFrame(en_sk)
ohe.fit_transform(en_sk[['Gender']])

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 3900 stored elements and shape (3900, 2)>

In [56]:
# so we need to convert that into an array to dataframe
ar = ohe.fit_transform(en_sk).toarray()
ar

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [57]:
# Now to dataframe
pd.DataFrame(ar)

        0    1
0     0.0  1.0
1     0.0  1.0
2     0.0  1.0
3     0.0  1.0
4     0.0  1.0
...   ...  ...
3895  1.0  0.0
3896  1.0  0.0
3897  1.0  0.0
3898  1.0  0.0
3899  1.0  0.0

[3900 rows x 2 columns]

Here as we do OneHotEncoding the number of columns will keep on increasing  
So we can drop the first of every encoded column  
The is in gender we can drop 'male' so in female when their is 0 then we as get that it is male

In [59]:
ohe = OneHotEncoder(drop='first')

In [66]:
ar = ohe.fit_transform(en_sk[['Gender']]).toarray()
ar

array([[1.],
       [1.],
       [1.],
       ...,
       [0.],
       [0.],
       [0.]])

In [67]:
pd.DataFrame(ar)

        0
0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
...   ...
3895  0.0
3896  0.0
3897  0.0
3898  0.0
3899  0.0

[3900 rows x 1 columns]